{#
Copyright 2019 Nokia

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}
[Unit]
Description=Kubelethealthcheck
After=kubelet.service
BindsTo=kubelet.service

[Service]
Slice=podruntime.slice
MemoryAccounting=true
CPUAccounting=true
BlockIOAccounting=true
TasksAccounting=true
Type=simple
User=root
RestartSec=10s

ExecStart={{ caas.libexec_dir }}/kubelet_healthcheck.sh

Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
